html, body{
    margin: 0;
    /* overflow-x: hidden; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*{
    box-sizing: border-box;
    margin: 0;
}

.content{
    margin-top: 24px;
}
.content > .tabs-container{
    border-bottom: 1px solid #E1E4E8;
    z-index: 3;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #FFFFFF;
}
.content .flex-row{
    padding: 0 32px;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}
/* .content .flex-row.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
} */
.content > .tabs-container .left{
    width: 25%;
    min-width: 25%;
    height: 48px;
}
.content > .tabs-container .left .avatar-name{
    display: flex;
    align-items: center;
    height: 100%;
}
.content > .tabs-container .left .avatar-name > .avatar{
    height: 32px;
    width: 32px;
    margin-right: 8px;
    border-radius: 50%;
    background: #444d56;
}
.content > .tabs-container .left .hide{
    opacity: 0;
    transition: 0.25s ease-in;
}
.content > .tabs-container .left .show{
    opacity: 1;
}
.content > .tabs-container .right{
    width: 75%;
    min-width: 75%;
    height: 48px;
}
.tabs{
    height: 48px;
    padding: 0 16px;
    display: flex;
}
.tabs > .tab{
    padding: 8px 16px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #24292E;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-bottom-color .36s ease-in;
}
.tabs > .tab > svg{
    color: #959DA5;
    margin-right: 8px;
}
.tabs > .tab > .count{
    margin-left: 8px;
    display: inline-block;
    min-width: 20px;
    padding: 0 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #24292E;
    text-align: center;
    background-color: rgba(209,213,218,0.5);
    border: 1px solid transparent;
    border-radius: 2em;
}
.tabs > .tab.selected{
    font-weight: 600;
    border-bottom-color: #f9826c;
}
.tabs > .tab:hover{
    border-bottom-color: #d1d5da;
}
.mobile-tabs{
    border-bottom: 1px solid #E1E4E8;
    z-index: 3;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #FFFFFF;
    overflow-x: scroll;
    display: none;
    width: 100%;
}
.content > .main-container .profile-summary{
    width: 25%;
    padding: 0 16px;
    margin-top: -30px;
    position: relative;
}
.content > .main-container .profile-summary > .avatar {
    position: relative;
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    background: #444d56;
    z-index: 4;
}
.content > .main-container .profile-summary > .avatar > img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: #444d56;
}
.content > .main-container .profile-summary > .user-name{
    padding: 16px 0;
    color: #586069;
    font-size: 20px;
}
.content > .main-container .profile-summary > .title{
    color: #24292E;
    font-size: 16px;
}
.content > .main-container .profile-summary > .set-status{
    width: 38px;
    height: 38px;
    padding: 8px;
    background: #FFFFFF;
    border: 1px solid #E1E4E8;
    border-radius: 38px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 18vw;
    top: 14vw;
    z-index: 5;
    cursor: pointer;
}
.content > .main-container .profile-summary > .set-status:hover{
    width: auto;
    transition: 0.25s ease-in-out;
}
.content > .main-container .profile-summary > .set-status > svg{
    height: 16px;
    width: 16px;
    color: #586069;
    margin-right: 0;
}
.content > .main-container .profile-summary > .set-status > .text{
    display: none;
}
.content > .main-container .profile-summary > .set-status:hover > .text{
    display: initial;
    margin-left: 4px;
    white-space: nowrap;
}
.content > .main-container .repo-content{
    width: 75%;
}
.content > .main-container .repo-content > .repo-list{
    padding: 0 16px;
}
.content > .main-container .repo-content > .repo-list > .item-container{
    padding: 16px 0;
    border-bottom: 1px solid #E1E4E8;
}
.content > .main-container .repo-content > .repo-list > .search-container > input{
    height: 32px;
    width: 100%;
    padding: 0 12px;
    background: #FFFFFF;
    border: 1px solid #E1E4E8;
    border-radius: 6px;
    font-size: 14px;
    outline: 0;
}
.content > .main-container .repo-content > .repo-list > .search-container > input:focus{
    border-color: #0366d6;
}
.content > .main-container .repo-content > .repo-list > .repo-count{
    display: inline-block;
}
.content > .main-container .repo-content > .repo-list > .repo-item{
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
}
.content > .main-container .repo-content > .repo-list .repo-name{
    font-size: 20px;
    color: #0366d6;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}
.content > .main-container .repo-content > .repo-list .forked-from{
    font-size: 12px;
    color: #586069;
    line-height: 1.2;
    margin-bottom: 10px;
}
.content > .main-container .repo-content > .repo-list .description{
    font-size: 14px;
    color: #586069;
    line-height: 1.2;
    margin-bottom: 10px;
}
.content > .main-container .repo-content > .repo-list .info{
    display: flex;
    font-size: 12px;
    color: #586069;
}
.content > .main-container .repo-content > .repo-list .info-item{
    margin-right: 16px;
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.content > .main-container .repo-content > .repo-list .info-item .color{
    margin-right: 5px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #F1E05A;
}
.content > .main-container .repo-content > .repo-list .info-item svg{
    margin-right: 5px;
    height: 16px;
    width: 16px;
    color: #586069;
}
.content > .main-container .repo-content > .repo-list .star-btn{
    height: 28px;
    padding: 3px 12px;
    font-size: 12px;
    font-weight: 500;
    color: #24292E;
    line-height: 20px;
    background: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.content > .main-container .repo-content > .repo-list .star-btn svg{
    height: 16px;
    width: 16px;
    margin-right: 4px;
    color: #6A737D;
}
/* .content > .main-container > .profile-repo{
    height: 48px;
    padding: 0 32px;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
} */


/* .content > .tabs-section{
    max-width: 1280px;
    margin: 0 auto;
}
.content .section-top{
    height: 48px;
    border-bottom: 1px solid #E1E4E8;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.content > .left > .section-top{
    padding-left: 32px;
}
.content > .right > .section-top.tabs{
    padding-right: 32px;
    display: flex;
}
.content > .right > .section-top.tabs > .tab{
    padding: 8px 16px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #24292E;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-bottom-color .36s ease-in;
}
.content > .right > .section-top.tabs > .tab > svg{
    color: #959DA5;
    margin-right: 8px;
}
.content > .right > .section-top.tabs > .tab > .count{
    margin-left: 8px;
    display: inline-block;
    min-width: 20px;
    padding: 0 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #24292E;
    text-align: center;
    background-color: rgba(209,213,218,0.5);
    border: 1px solid transparent;
    border-radius: 2em;
}
.content > .right > .section-top.tabs > .tab.selected{
    font-weight: 600;
    border-bottom-color: #f9826c;
}
.content > .right > .section-top.tabs > .tab:hover{
    border-bottom-color: #d1d5da;
} */
/* .content > .left > .profile-summary{
    padding: 0 16px
}
.content > .left > .profile-summary > .avatar{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #444d56;
}
.content > .left > .profile-summary > .avatar > img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #444d56;
} */

@media only screen and (min-width: 530px) and (max-width: 949px) {
    .content .flex-row{
        padding: 0 24px;
    }
    /* .content > .left > .section-top{ */
        /* padding-left: 24px;
    }
    .content > .right > .section-top.tabs{
        padding-right: 24px;
    } */
    .content > .main-container .repo-content > .repo-list > .repo-item{
        align-items: center;
    }
}

@media only screen and (max-width: 529px){
    .content .flex-row{
        padding: 0;
        flex-wrap: wrap;
    }
    .content > .tabs-container{
        display: none;
    }
    /* .content > .tabs-container .left{
        display: none;
    }
    .content > .tabs-container .right{
        width: 100vw;
        overflow-x: scroll;
    } */
    /* .content > .tabs-container .tabs{
        padding: 0 8px;
    }
    .content > .tabs-container .tab > svg{
        display: none;
    } */
    
    /* .content{
        margin-top: 24px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .content > .left > .section-top{
        display: none;
    }
    .content > .right > .section-top.tabs{
        padding: 0 16px;
        width: 100vw;
        overflow-x: scroll;
    }
    .content > .right > .section-top.tabs > .tab > svg{
        display: none;
    } */
    .content > .main-container .profile-summary{
        width: 100%;
        padding: 0 8px;
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
    }
    .content > .main-container .profile-summary > .avatar {
        /* position: relative; */
        height: 16vw;
        width: 16vw;
        margin-right: 16px;
        /* border-radius: 50%;
        background: #444d56; */
        z-index: 1;
    }
    /* .content > .main-container .profile-summary > .avatar > img{
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background: #444d56;
    } */
    .content > .main-container .profile-summary > .name{
        margin-left: 20px;
    }
    .content > .main-container .profile-summary > .title{
        width: 100%;
    }
    .content > .main-container .profile-summary > .set-status{
        width: 100%;
        height: auto;
        padding: 4px 8px;
        margin-top: 24px;
        margin-bottom: 8px;
        font-size: 12px;
        border-radius: 6px;
        justify-content: initial;
        position: initial;
    }
    .content > .main-container .profile-summary > .set-status > svg{
        margin-right: 4px;
    }
    .content > .main-container .profile-summary > .set-status > .text{
        display: initial;
    }
    
    .content > .main-container .repo-content{
        width: 100%;
        margin-top: 24px;
    }
    .mobile-tabs{
        display: flex;
    }
    .content > .main-container .repo-content > .repo-list .info{
        flex-wrap: wrap;
    }
    .content > .main-container .repo-content > .repo-list > .repo-item{
        align-items: center;
    }
}
